
body {
    margin : 0 0;
	padding: 0  0;
}

.Rooms{
    float: left;
}



.Board{
	float: left;
	width: 640px;
	height: 640px;
	margin: 0 auto;
}

.Chat{
    float: left;
}

.square{
	float: left;
	width: 80px;
	height: 80px;
}

.white_square{
	background-color:#F0D2B4;
}

.black_square{
	background-color :#BA7A3A;
}
